# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
.env

# --- Data and Artifacts ---
# Ignore intermediate/binary files (Logprobs and Matrices)
data/processed/

# UPLOAD RAW DATA for CARC
# So we do NOT ignore data/raw/
!data/raw/

# --- Models ---
# Ignore model weights as they can be large and binary
models/

# --- OS files ---
.DS_Store
Thumbs.db

# --- Outputs ---
# Keep the 'outputs/' directory for reports and plots
!outputs/
!outputs/**/.gitkeep